
// CONTENTS
// ----------------------------------------------------------------------------
//
// CONTENTS.......................... You’re reading it!
// WARNING........................... Importante Note for Developers
// IMPORTS........................... Begin importing the sections below
//
//
// GETTING STARTED
// ---------------
// NIB............................... Nib by Vision Media - https://github.com/visionmedia/nib
// CONFIG............................ Setting Variables
//
//
// MODULES
// ---------------
// MIXINS............................ Stylus Mixins
//
//
// GENERAL
// ---------------
// NORMALIZE......................... CSS Normalize by Necolas - https://github.com/necolas/normalize.css
// BASE.............................. Scaffolding
// GRID.............................. Initialize Grid System
// RESPONSIVE........................ Media queries
//
//
// ----------------------------------------------------------------------------




// WARNING
// ----------------------------------------------------------------------------
// DO NOT REMOVE ANY @IMPORT ON THIS FILE!!
//
// Any custom styles SHOULD NOT be added or modified in style.css directly.
//
// Try not to edit any CSS beyond this point; if you find you need to do so
// it is a failing of the project so please tweet at @vitorbritto.
// ----------------------------------------------------------------------------




// IMPORTS
// ----------------------------------------------------------------------------

@import "nib"
@import "_config"

// Modules
@import "_modules/mixins"

// General
@import "_general/normalize"
@import "_general/base"
@import "_general/grid"
@import "_general/responsive"
