// Color
color-font          = #2c3e50
color-link          = #2980b9
color-title         = #34495e
color-subtitle      = #555555
color-negative      = #ecf0f1

// Tipography
font-title          = "Lato", sans-serif
font-default        = "Helvetica Neue", Helvetica, Arial, sans-serif
font-mono           = Monaco, Menlo, Consolas, Courier New, monospace
font-alt            = Georgia, "Times New Roman", Times, serif
base-line-height    = 23px
base-font-size      = 15px

// Button
btn-color           = #34495e
btn-border          = #2c3e50

// Messages
color-notready      = #c0392b
color-recommend     = #2980b9
color-important     = #f39c12
