transition()
    transition: all .2s linear

unstyled()
    list-style-image: none;
    list-style-type: none;
    margin: 0
    padding: 0

btn(background, radius)
    background: background
    color: btn-link
    padding: 16px 24px
    -webkit-border-radius: radius
    -moz-border-radius: radius
    -ms-border-radius: radius
    -o-border-radius: radius
    border-radius: radius
    border-bottom: 2px solid btn-border
