// Breakpoints
phone    = "screen and (max-width: 480px)"
tablet   = "screen and (min-width: 481px) and (max-width: 1023px)"
tvscreen = "screen and (min-width: 1440px)"

@media phone
    .header,
    .footer,
    .content,
    .section,
    .list > li,
    .nav-main,
    .nav-structure
        float: none !important
        display: block !important
        width: 98% !important
        margin: 0 auto !important
